.form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 250px;
  height: 30px;
  font-size: 20px;
  padding: 10px;
  font-weight: 500;
  margin-right: 20px;
  border-radius: 8px;
  border: 1px solid black;
  transition: border-color 250ms linear;
}

.search:hover,
.search:focus {
  border-color: orangered
}