.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper {
  display: flex;
  gap: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.text {
  font-size: 18px;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 138px;
  background-color: gray;

}

.icon {
  width: 100%;
  height: auto;
}

.error {
  font-size: 18px;
  font-weight: 600;
}